.available {
    text-align: center;
    font-weight: bold;
    color: rgb(7, 145, 18)
}

h2 {
    color: #1f7cd3;
    text-align: center;
    margin-bottom: 30px;
}

#select-center-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fcfcfc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

label {
    display: block;
    margin-bottom: 10px;
    color: #4e4e4e;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #1860a3;
    border-radius: 4px;
}

select option[disabled] {
    color: #666666;
}

#select-center-submit {
    width: 100%;
    padding: 10px;
    background-color: #1f7cd3;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #1860a3;
}

#new-rent-table-title {
    color: #fff;
    text-align: center;
    margin-top: 50px;
}

#new-rent-not-selected {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

#new-rent-no-result {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

#add-rent-button {
    position: absolute;
    right: 30px;
    font-size: 1.6em;
    font-weight: bolder;
    bottom: 30px;
    padding: 20px 40px;
    background-color: #1f7cd3;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.1s;
    box-shadow: 2px 2px 10px #abd6ff;
}

.new-rent-button-container {
    text-align: center;
}

#add-rent-button:hover {
    background-color: #55adff;
}

.new-rent-checkbox {
    /* Change the appearance of the checkbox */
    appearance: none;
    margin: auto;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #1f7cd3;
    border-radius: 3px;
    outline: none;
    position: relative;
    /* Add this line */
}

.new-rent-checkbox:checked {
    /* Change the appearance when checked */
    background-color: #1f7cd3;
    border-color: #1f7cd3;
}

.new-rent-checkbox:checked:after {
    /* Add a checkmark when checked */
    color: #fff;
    content: '✔';
    font-size: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}